#include <dt-bindings/zmk/matrix_transform.h>
#include "lily58_dongle.dts"
#include "lily58-layouts.dtsi"
#include "lily58_sensors.dtsi"

/ {
    chosen {
        zmk,kscan = &mock_kscan;
        zmk,physical-layout = &layout_0;
    };

    mock_kscan: mock_kscan_0 {
        compatible = "zmk,kscan-mock";
        columns = <0>;
        rows = <0>;
        events = <0>;
    };
};
